*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 223, 223);
}

.wrapper .sidebar{
    background: rgb(48, 103, 175);
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    transition: all 0.5s ease ;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #3e6aa3;
    color: rgb(0, 0, 0);
}
.wrapper .section{
    width: 100%;
    margin-left: 225px;
    transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
    background-color: rgb(25, 104, 104);
    height: 50px;
    display: flex;
    padding: 0px 50px;
    
}
.wrapper .section .top_navbar .hamburger a{
    /* position: relative; */
    font-size: 28px;
    color: #ffffff;
    text-align: left;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: rgb(122, 97, 235);
}